<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Logo</title>
    <link rel="stylesheet" href="firstPage.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Julius+Sans+One|Megrim&display=swap" rel="stylesheet">
   
</head>
<body>
   
    <div class="container">
        <h1><strong>R</strong>eady to beging your busnes, create your WebSite or both?...Start by creating your logo. Easy, Fast and Free</h1>
   
        <a href="/logoPage">Get Started</a>
    </div> 
</body>
</html>