<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="logoPage.css">
</head>
<body>
   <button>Donwload</button>

   <input name="" class="" type="text" placeholder="Enter City"  style="font-size: 20px;">
   
   <div class="container">
     <img src="logo.png" alt="logo" class="logo">
      
   </div>


<div class="style">

    <button class="button">Change The Imagen</button>

    <button  class="button">Enter The Tittle</button>
    <button class="button">Chage The Color</button>
    <button class="button">Make Your Own Color</button>
    <button class="button">The Font Sizn</button>
    <button class="button">Font Size</button>

</div>
    
</body>
</html>