body{
    background-image: url(4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}



.container {
    margin: 50px 30% 80px 30%;
    padding: 50px 100px 30px 100px ;
    color: rgb(182, 90, 56);
  }

  a:link, a:visited {
    background-color:  rgb(182, 90, 56);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
  }
  
  a:hover, a:active {
    background-color: rgb(151, 78, 51);
    border-radius: 6px;
  }
